[package]
name = "stove"
authors = ["spuds"]
repository = "https://github.com/bananaturtlesandwich/stove"
description = "an editor for cooked unreal engine 4 map files"
readme = "README.md"
version = "0.10.0"
edition = "2021"

[dependencies]
unreal_asset = { git = "https://github.com/astrotechies/unrealmodding", package = "unreal_asset", rev = "6e028cc" }
unpak = { version = "1.0", features = ["asset-paths"] }
glam = { version = "0.23", features = ["fast-math", "bytemuck"] }
eframe = { version = "0.22", default-features = false, features = ["wgpu", "persistence"]}
# so i can fix deadlocking when launching with args
type-map = "0.5"
wrld = "1.0"
egui-notify = "0.7"
egui_file = "0.10"
bytemuck = "1.13"
byteorder = "1.4"
bitflags = "2.3"
texture2ddecoder = "0.0"
hashbrown = "0.13"
dirs = "5.0"
hex = "0.4"

[build-dependencies]
winres = "0.1"

[target.'cfg(not(target_family = "wasm"))'.dependencies]
discord-rich-presence = "0.2"
autoupdater = "0.3"

[dev-dependencies]
png = "0.17"
obj-exporter = "0.2"

[profile.release]
strip = true
lto = true
codegen-units = 1
panic = "abort"
